* {
    margin: 0;
    padding: 0;
}

.tlf {

    color: #333;
    font-family: Inconsolata;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.92px;
    text-transform: uppercase;

}

.badnews {
    width: 586px;
    color: var(--Gray-1, #333);
    font-family: Space Mono;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -2.24px;
}

.desc {
    width: 381px;
    color: var(--Gray-2, #4F4F4F);
    font-family: Space Mono;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.84px;
}

.bth {
    box-sizing: border-box;
    width: 216px;
    height: 68px;
    flex-shrink: 0;
    background: var(--Gray-1, #333);

}

img {
    box-sizing: border-box;
    width: 1440px;
    height: 1080px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.10);
    color: #FFF;
    font-family: Space Mono;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.49px;
    text-transform: uppercase;
}

footer {
    color: #BDBDBD;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.names {
    color: #BDBDBD;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-decoration-line: underline;
}


@media only screen and (max-width: 375px) {
   /* bounce pass? alley oop.. .. mobile for you! = I said that in my Roderick Davis voice
   Gucciiiiii!
   Haven't made changes to the @media.. part..
   */
   * {
    margin: 0;
    padding: 0;
}

.tlf {

    color: #333;
    font-family: Inconsolata;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -1.92px;
    text-transform: uppercase;

}

.badnews {
    width: 586px;
    color: var(--Gray-1, #333);
    font-family: Space Mono;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -2.24px;
}

.desc {
    width: 381px;
    color: var(--Gray-2, #4F4F4F);
    font-family: Space Mono;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.84px;
}

.bth {
    box-sizing: border-box;
    width: 216px;
    height: 68px;
    flex-shrink: 0;
    background: var(--Gray-1, #333);

}

img {
    box-sizing: border-box;
    width: 1440px;
    height: 1080px;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.10);
    color: #FFF;
    font-family: Space Mono;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.49px;
    text-transform: uppercase;
}

footer {
    color: #BDBDBD;
    text-align: center;
    font-family: Montserrat;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.names {
    color: #BDBDBD;
font-family: Montserrat;
font-size: 14px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-decoration-line: underline;
}

  }